body{
    background-color: #121212;
    color: white;
    text-align: center;
    font-family: Arial;
}
button{
    padding: 10px 20px;
    margin: 10px;
    background-color: #1f1f1f;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #2a2a2a;
    transform: scale(1.05);
}

button{
    transition: all 0.2s ease;
}